<?xml version="1.0" encoding="utf-8"?>
<TimelineConfig>
  <HideDesignINotice>false</HideDesignINotice>
  <Enabled>true</Enabled>
  <OverlayVisible>false</OverlayVisible>
  <Left>120</Left>
  <Top>130</Top>
  <Width>380</Width>
  <Height>500</Height>
  <NoticeLeft>10</NoticeLeft>
  <NoticeTop>10</NoticeTop>
  <NoticeWidth>300</NoticeWidth>
  <NoticeHeight>250</NoticeHeight>
  <IsTimelineLiveUpdate>false</IsTimelineLiveUpdate>
  <NotifyInterval>20</NotifyInterval>
  <ProgressBarRefreshInterval>50</ProgressBarRefreshInterval>
  <TimelineRefreshInterval>200</TimelineRefreshInterval>
  <PSyncDetectInterval>100</PSyncDetectInterval>
  <ResidentScriptInterval>20</ResidentScriptInterval>
  <NotifyThreadPriority>Normal</NotifyThreadPriority>
  <TimelineThreadPriority>Normal</TimelineThreadPriority>
  <IsMute>false</IsMute>
  <Clickthrough>false</Clickthrough>
  <OverlayOpacity>1</OverlayOpacity>
  <OverlayScale>1</OverlayScale>
  <NearestActivityScale>1.75</NearestActivityScale>
  <NextActivityBrightness>0.8</NextActivityBrightness>
  <ShowActivitiesCount>10</ShowActivitiesCount>
  <ShowActivitiesTime>120</ShowActivitiesTime>
  <ShowProgressBarTime>15</ShowProgressBarTime>
  <IndicatorVisible>true</IndicatorVisible>
  <IndicatorStyle>HEADER</IndicatorStyle>
  <ActivityMargin>3 8 3 0</ActivityMargin>
  <OverlayBackground>#CC000000</OverlayBackground>
  <Styles>
    <Style>
      <Name>Default</Name>
      <IsDefault>true</IsDefault>
      <IsDefaultNotice>false</IsDefaultNotice>
      <Font FontFamily="Arial" Size="20" Stretch="Normal" Style="Normal" Weight="Normal" />
      <Color>#FFFFFFFF</Color>
      <OutlineColor>#00FFFFFF</OutlineColor>
      <BarColor>#FF00BFFF</BarColor>
      <BarHeight>3</BarHeight>
      <IsCircleStyle>false</IsCircleStyle>
      <Icon />
      <IconSize>24</IconSize>
    </Style>
    <Style>
      <Name>HEADER</Name>
      <IsDefault>false</IsDefault>
      <IsDefaultNotice>false</IsDefaultNotice>
      <Font FontFamily="Consolas" Size="30" Stretch="Normal" Style="Normal" Weight="Bold" />
      <Color>#FFFFFFFF</Color>
      <OutlineColor>#00FFFFFF</OutlineColor>
      <BarColor>#FF00BFFF</BarColor>
      <BarHeight>3</BarHeight>
      <IsCircleStyle>false</IsCircleStyle>
      <Icon />
      <IconSize>24</IconSize>
    </Style>
    <Style>
      <Name>NOTICE</Name>
      <IsDefault>false</IsDefault>
      <IsDefaultNotice>true</IsDefaultNotice>
      <Font FontFamily="Arial" Size="32" Stretch="Normal" Style="Normal" Weight="Bold" />
      <Color>#FFFFFFFF</Color>
      <OutlineColor>#FFB22222</OutlineColor>
      <BarColor>#00000000</BarColor>
      <BarHeight>0</BarHeight>
      <IsCircleStyle>false</IsCircleStyle>
      <Icon />
      <IconSize>72</IconSize>
    </Style>
    <Style>
      <Name>NOTICE_NORMAL</Name>
      <IsDefault>false</IsDefault>
      <IsDefaultNotice>false</IsDefaultNotice>
      <Font FontFamily="Arial" Size="32" Stretch="Normal" Style="Normal" Weight="Bold" />
      <Color>#FFFFFFFF</Color>
      <OutlineColor>#FF000080</OutlineColor>
      <BarColor>#00000000</BarColor>
      <BarHeight>0</BarHeight>
      <IsCircleStyle>false</IsCircleStyle>
      <Icon />
      <IconSize>72</IconSize>
    </Style>
  </Styles>
  <TimelineFiles>
    <File Key="D:\Program Files (x86)\Advanced Combat Tracker\plugin\Hojoring\resources\timeline\DsR.xml" Value="true" />
    <File Key="D:\Program Files (x86)\Advanced Combat Tracker\plugin\Hojoring\resources\timeline\Global.xml" Value="true" />
    <File Key="D:\Program Files (x86)\Advanced Combat Tracker\plugin\Hojoring\resources\timeline\raids_p8s_Abbyssos_The_Eighth_Circle.xml" Value="true" />
    <File Key="D:\Program Files (x86)\Advanced Combat Tracker\plugin\Hojoring\resources\timeline\TOP.xml" Value="true" />
    <File Key="D:\Program Files (x86)\Advanced Combat Tracker\plugin\Hojoring\resources\timeline\TOP_bak.xml" Value="true" />
    <File Key="D:\Program Files (x86)\Advanced Combat Tracker\plugin\Hojoring\resources\timeline\TOP_test.xml" Value="true" />
    <File Key="D:\Program Files (x86)\Advanced Combat Tracker\plugin\Hojoring\resources\timeline\TOP_o1.xml" Value="true" />
    <File Key="D:\Program Files (x86)\Advanced Combat Tracker\plugin\Hojoring\resources\timeline\TOP_o2.xml" Value="true" />
    <File Key="D:\Program Files (x86)\Advanced Combat Tracker\plugin\Hojoring\resources\timeline\TOP_s.xml" Value="true" />
    <File Key="D:\Program Files (x86)\Advanced Combat Tracker\plugin\Hojoring\resources\timeline\top_p5.xml" Value="true" />
    <File Key="D:\Program Files (x86)\Advanced Combat Tracker\plugin\Hojoring\resources\timeline\top_p5_swap.xml" Value="true" />
    <File Key="D:\Program Files (x86)\Advanced Combat Tracker\plugin\Hojoring\resources\timeline\raid_p12s.xml" Value="true" />
    <File Key="D:\Program Files (x86)\Advanced Combat Tracker\plugin\Hojoring\resources\timeline\ult_VS_UltimateWeapon.xml" Value="true" />
  </TimelineFiles>
</TimelineConfig>